<div class="row">
  <div class="col-xs-12 timetable-header">
    <h1>
      Timetable
    </h1>
  </div>
</div>
<hr>
<div class="row timetable-form">
  <div class="col-md-4 col-sm-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Branch Name">
    </div>
  </div>
  <div class="col-md-3 col-sm-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Class">
    </div>
  </div>
  <div class="col-md-2 col-sm-12">
    <div class="input-group">
      <button class="btn btn-success">
        Get Timetable <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        Report will show up here..      
      </div>
    </div>
  </div>
</div>