<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Pratheeksha
      </a>
      <div class="menu-btn-wrapper">
        <button (click)="toggleMenu()" class="menu-btn btn btn-primary outline glyphicon glyphicon-menu-hamburger"></button>              
      </div>
    </div>
    
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <app-sidebar [show]="showMenu"></app-sidebar>
    <div class="dashboard col-md-10 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
              <router-outlet></router-outlet>
            </div>
        </div>
    </div>
  </div>
</div>