.sidebar{
    padding: 0;
    transition: all 0.4s;
}

li.active{
    background-color: #2780e3;
    color: #fff;
}

.sidebar > .close-btn{
    display: none;
    text-align: center;
}

.sidebar > .close-btn > span{
    text-align: center;
}

.sidebar  li.list-group-item{
    border-radius: 0;
}

.sidebar  li.list-group-item a,
.sidebar  li.list-group-item a:hover{
    text-decoration: none;
    color: inherit;
}

@media (max-width: 970px){
    .sidebar{
        position: absolute;
        top:52px;
        right:-100%;
        z-index: 99;
    }

    .sidebar > .close-btn{
        display: block;
    }

    .show{
        right: 0;
    }
}