<div class="sidebar col-md-2">
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/dashboard" routerLinkActive="active">
        <span class="glyphicon glyphicon-dashboard"></span>  Dashboard
      </a>
    </li>
    <li class="list-group-item">
      <a routerLink="/staffreport" routerLinkActive="active">
        <span class="glyphicon glyphicon-briefcase"></span>  Staff Report
      </a>      
    </li>
    <li class="list-group-item">
      <a routerLink="/salaryreport" routerLinkActive="active">
        <span class="glyphicon glyphicon-usd"></span>  Salary Report
      </a>      
    </li>
    <li class="list-group-item">
      <a routerLink="/students" routerLinkActive="active">
        <span class="glyphicon glyphicon-user"></span>  Students
      </a>      
    </li>
    <li class="list-group-item">
      <a routerLink="/timetable" routerLinkActive="active">
        <span class="glyphicon glyphicon-calendar"></span>  Timetable
      </a>      
    </li>
    <li class="list-group-item">
      <a routerLink="/create" routerLinkActive="active">
        <span class="glyphicon glyphicon-plus"></span>  Create
      </a>      
    </li>
  </ul>
</div>