<div class="row">
  <div class="col-xs-12 students-header">
    <h1>
      Students
    </h1>
  </div>
</div>
<hr>
<div class="row students-form">
  <div class="col-xs-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Batch">
    </div>
  </div>
  <div class="col-xs-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Class">
    </div>
  </div>
  <div class="col-xs-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Subject">
    </div>
  </div>
  <div class="col-xs-12">
    <div class="input-group">
      <input type="date" class="form-control" placeholder="Date">
    </div>
  </div>
  <div class="col-xs-12">
    <div class="input-group">
      <input type="number" class="form-control" placeholder="Count">
    </div>
  </div>
  <div class="col-xs-12">
    <div class="input-group">
      <button class="btn btn-success"> Submit </button>
    </div>
  </div>
</div>