/* You can add global styles to this file, and also import other style files */
body,
html{
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#loader{
    position: fixed;
    top: 40%;
    left: 42.5%;
    height: 200px;
    widows: 200px;
}

@media (max-width:970px){
    #loader{
        height: 40px;
        width: 40px;
    }
}